@{
    ViewBag.Title = "Connexion";
}

<div class="titre">
    <h1 style="margin-bottom:30px;">Connectez-vous</h1>
</div>

<form accept-charset="UTF-8" action="#" autocomplete="off" method="POST" target="_blank">
    <label for="mail">Adresse mail</label></br>
    <input name="mail" type="text" style="margin-bottom:30px;" /></br>
    <label for="motDePasse">Mot de passe</label></br>
    <input name="motDePasse" type="text" style="margin-bottom:30px;" /></br>
    <button type="submit" name="Btn_Connexion">Se connecter</button>
</form>