@{
    ViewBag.Title = "Formulaire retard";
}

<div class="titre">
    <h1 style="margin-bottom:30px;">Création d'un billet de retard</h1>
</div>

<form accept-charset="UTF-8" action="#" autocomplete="off" method="POST" target="_blank">
    <label for="nom">Nom</label></br>
    <input name="nom" type="text" style="margin-bottom:30px;"/></br>
    <label for="prenom">Mot de passe</label></br>
    <input name="prenom" type="text" style="margin-bottom:30px;"/></br>
    <label for="classe">Mot de passe</label></br>
    <input name="classe" type="text" style="margin-bottom:30px;"/></br>
    <label for="dateHeure">Mot de passe</label></br>
    <input name="dateHeure" type="text" style="margin-bottom:30px;"/></br>
    <label for="motif">Motif du retard</label></br>
    <input name="motif" type="text" style="margin-bottom:30px;"/></br>
    <label for="justificatif">Justificatif du retard</label></br>
    <input name="justificatif" type="text" style="margin-bottom:30px;"/></br>
    <button type="submit" name="Btn_Connexion">Se connecter</button>
</form>