@{
    ViewBag.Title = "Inscription";
}

<div class="jumbotron">
    <h1>Inscrivez-vous</h1>
</div>

<form accept-charset="UTF-8" action="connexion.cshtml" autocomplete="off" method="POST" target="_blank">
    <label for="firstname">Prénom</label>
    <input name="firstname" type="text" placeholder="Prénom" />
    <label for="lastname">Nom</label>
    <input name="lastname" type="text" placeholder="Nom" />
    <label for="mail">Adresse électronique</label>
    <input name="mail" type="text" placeholder="email" />
    <label for="class">Classe</label>
    <input name="class" type="text" placeholder="classe" />
</form>